/* feedback css */
.feedback-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.navigation-buttons {
    display: flex;
    gap: 16px;
}

.swiper-slide,
.swiper-button-next,
.swiper-button-prev {
    all: unset;
}

.nav-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.nav-button:hover {
    transform: scale(1.3);
}


.feedback-card {
    min-width: 400px;
    height: 240px;
    padding: 28px 32px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 20px;
    margin-bottom: 20px;
}

.feedback-card .stars {
    display: flex;
    margin-bottom: 15px;
}

.feedback-card .customer-info {
    display: flex;
    align-items: center;
}

.feedback-card .customer-name {
    font-size: 20px;
    font-weight: 700;
}

/* .feedback-card .verified-badge {
    width: 24px;
    height: 24px;
    background-color: #10B981;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
} */

.feedback-text {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.swiper-container {
    width: 100%;
    position: relative;
    overflow: auto;
}


/* Làm mờ bên TRÁI */
.swiper-container::before {
    content: '';
    position: absolute;
    top: 200px;
    left: 0;
    width: 100px;
    height: 50%;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
    z-index: 2;
    pointer-events: none;
}

/* Làm mờ bên PHẢI */
.swiper-container::after {
    content: '';
    position: absolute;
    top: 200px;
    right: 0;
    width: 100px;
    height: 50%;
    background: linear-gradient(270deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
    z-index: 2;
    pointer-events: none;
}

@media (max-width:1000px) {

    .swiper-container::after,
    .swiper-container::before {
        all: unset;
    }
}

@media (max-width:800px) {
    .feedback-header h2 {
        font-size: 32px;
    }

    .feedback-flex {
        padding: 0 20px;
    }

    .feedback-card {
        min-width: 95%;
    }
}