 .breadcrumb {
     background-color: transparent;
     padding: 1rem 0;
     font-size: 0.9rem;
 }

 .breadcrumb-item+.breadcrumb-item::before {
     content: "";
 }

 .breadcrumb-item {
     display: flex;
     align-items: center;
     gap: 10px;
     padding: 0 !important;
     color: rgba(0, 0, 0, 0.6);
 }
 .breadcrumb-item.active{
    color: rgba(0, 0, 0, 1);
 }
/* Cart-item CSS */
.cart-container,
.cart-order {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-image {
    width: 130px;
    height: 130px;
    background: rgba(240, 238, 237, 1);
    border-radius: 8.66px;
    object-fit: cover;
    flex-shrink: 0;
}

.cart-item-details {
    flex: 1;
}

.cart-item-name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 1);
}

.cart-item-info {
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    margin-bottom: 6px;
}

.cart-item-price {
    font-size: 24px;
    font-weight: 700;
    margin-top: 12px;
    color: rgba(0, 0, 0, 1);
}

.delete-btn {
    position: absolute;
    top: 24px;
    right: 0;
    cursor: pointer;
    transition: opacity 0.2s;
}

.delete-btn:hover {
    opacity: 0.7;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgba(240, 240, 240, 1);
    padding: 10px;
    border-radius: 30px;
    width: fit-content;
    position: absolute;
    bottom: 24px;
    right: 0;
}

.quantity-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.quantity-btn:hover {
    opacity: 0.6;
}

.quantity-value {
    font-weight: 500;
    min-width: 30px;
    text-align: center;
    font-size: 14px;
}

.cart-order {
    height: fit-content;
}

.order-summary-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.summary-label {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
}

.summary-value {
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.summary-discount {
    color: rgba(255, 51, 51, 1);
}

.summary-total {
    padding-top: 24px;
    border-top: 1px solid #e5e5e5;
    margin-top: 8px;
    margin-bottom: 32px;
    color: rgba(0, 0, 0, 1);
}

.summary-total .summary-label {
    font-size: 20px;
}

.summary-total .summary-value {
    font-size: 24px;
}


.promo-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(240, 240, 240, 1);
    border-radius: 62px;
}

.promo-input {
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    outline: none;
} 



.apply-btn {
    background: #000;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.2s;
    white-space: nowrap;
}

.apply-btn:hover {
    opacity: 0.7;
}

.checkout-btn {
    width: 100%;
    padding: 20px;
    background: #000;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.checkout-btn:hover {
    opacity: 0.9;
}

@media (max-width:500px) {
    .cart-item-image {
        width: 99px;
        height: 99px;
    }

    .cart-item-name {
        font-size: 16px;
    }

    .cart-item-info {
        font-size: 12px;
    }

    .cart-item-price {
        font-size: 20px;
    }

    .quantity-control {
        padding: 5px;
    }
}